html {
  scroll-behavior: smooth;
  font-size: 10px;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  font-size: 20px;
}

/* Navbar */
.navbar {
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-toggler i {
  font-size: 3rem;
}
.navbar-brand {
  font-size: 2.2rem;
  color: #a0937d;
  font-weight: 700;
  text-decoration: none;
}
.navbar-nav {
  text-align: center;
}
.navbar-nav a {
  font-size: 1.6rem;
  color: #a0937d;
  padding: 0 15px !important;
}
.navbar-nav a:not(:last-child) {
  border-right: 1px solid #a0937d;
}

.navbar-nav a:hover {
  border: 1px solid #a0937d;
  background: #a0937d;
  color: #fff;
  text-decoration: none;
}
/* End of Navbar */

/* Home Section */
#home {
  padding: 90px 0;
  letter-spacing: 1px;
}

#home p {
  font-weight: 50;
  color: #a0937d;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 25px;
  line-height: 1em;
}

#home h1 {
  color: #a0937d;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 50px;
}
.about-btn {
  margin-top: 10px;
  background: #fff;
  border: 1px solid #a0937d;
  color: #a0937d;
  padding: 10px 20px;
  margin-right: 10px;
  text-decoration: none;
}
.intro-buttons {
  margin-top: 40px;
}
.download-btn {
  margin-top: 10px;
  border: 1px solid #a0937d;
  background: #a0937d;
  color: #fff;
  padding: 10px 20px;
}
.intro-buttons a {
  border-radius: 8px;
}

.about-btn:hover {
  border: 1px solid #a0937d;
  background: #a0937d;
  color: #fff;
  text-decoration: none;
}
.download-btn:hover {
  background: #ad9e84;
  color: #fff;
  text-decoration: none;
}
.btn-container {
  display: inline-block;
}

/* End of Home Section*/

/* About Section */
#about {
  background-color: #ad9e84;
  padding-top: 90px;
  color: #fff;
}
#about hr {
  border: 3px solid #fff;
  width: 100%;
}
#about h2 {
  font-size: 4rem;
  font-weight: 300;
}
#about p {
  padding: 20px 0;
}
#about a {
  margin-top: 10px;
  background: #e7d4b5;
  border: 1px solid #e7d4b5;
  border-radius: 8px;
  color: #ad9e84;
  padding: 10px 20px;
  margin-right: 10px;
  text-decoration: none;
}
#about span {
  font-weight: 400;
  font-size: 1.6rem;
}
#about img {
  max-width: 350px;
  width: 100%;
  margin-bottom: -85px;
}
#about p {
  font-weight: 200;
}
/* End of About Section*/

/* skills Section */
#skills {
  padding-top: 100px;
  color: #ad9e84;
}
#skills h2 {
  font-size: 4rem;
  font-weight: 300;
}
#skills hr {
  border: 3px solid #ad9e84;
  width: 30%;
  margin: unset;
}
#skills p {
  font-weight: 200;
}
.skills-container {
  text-align: center;
  padding-top: 40px;
  color: #ad9e84;
}
.skills-container i {
  font-size: 100px;
}
.skills-container p {
  color: #ad9e84;
}
/* End of skills Section*/

/*gallery Section */
#gallery {
  margin-top: 50px;
  margin-bottom: 50px;
  color: #ad9e84;
}
.title {
  padding-bottom: 20px;
}
#gallery h2 {
  font-size: 4rem;
  font-weight: 300;
  text-align: center;
}
#gallery hr {
  border: 3px solid #ad9e84;
  width: 8%;
  margin: auto;
}

.gallery-card {
  background-color: #ad9e84;
  text-align: center;
  /* max-width: 250px;
  width: 100%; */
  padding: 20px;
}

.gallery-card img {
  max-width: 200px;
  width: 100%;
}

.caption {
  margin-top: 10px;
  color: #fff;
}
/* End of Gallery Section*/

/*contact Section */
#contact {
  padding: 65px 0;
  color: white;
  background-color: #ad9e84;
  text-align: center;
}

#contact h2 {
  font-size: 4rem;
  font-weight: 300;
}
#contact hr {
  border: 3px solid #fff;
  width: 8%;
}
#contact i {
  font-size: 3rem;
  color: #e7d5b4 !important;
}

#contact p {
  margin: 40px 0;
}

/* End of contact Section*/
@media screen and (max-width: 600px) {
  html {
    font-size: 8px;
  }
  .intro h1 {
    font-size: 4rem !important;
  }
  .about-btn,
  .download-btn {
    font-size: 2rem;
  }
  #home {
    padding: 55px 0;
  }
  #about {
    padding-top: 23px;
  }
  #about img {
    width: 75%;
    margin-top: 30px;
  }
  #about h2 {
    padding-top: 10px;
  }
  #skills {
    padding-top: 120px;
  }
  .skills-container {
    padding-top: 10px;
  }
  .skills-container i {
    font-size: 125px;
  }
  .skills-container col-sm-4 {
    padding-bottom: 10px;
  }

  #skills hr {
    width: 80%;
  }
  .col-sm-3:not(:first-child) {
    padding-top: 12px;
  }
  #gallery hr {
    width: 17%;
  }

  #contact hr {
    border: 3px solid #fff;
    width: 20%;
    margin-top: 20px;
  }
}
